html {
	color: white;
	font-family: Arial;
}

body {
	background-image:url('../../img/homenet/green_bubbles.jpg');
}

.address_header {
	text-align: center;
}

#menu {
	background-color:#abcabc;
	width: 400px;
	float: left;
}