html {
	color: white;
	font-family: Arial;
}

body {
	background-image:url('../../img/homenet/green_bubbles.jpg');
}

.address_header {
	text-align: center;
}

#menu {
	background-color:#abcabc;
	width: 400px;
	float: left;
	line-height:1.5;
}

#content {
	float:right;
	padding-right:25px;
}

a.most_recent:link {
	color: #843AE4;
}

@media only screen and (max-device-width: 480px) {
	div#menu {
		width:auto;
		font-size:130%;
		line-height: 2;
		text-align:center;
		float:center;
	}
	
	h1.address_header {
		width:auto;
		position:relative;
		text-align:left;
	}
	
	#content {
		float:left;
		padding-left:0px;
		padding-top:25px;
		padding-right:0px;
		padding-bottom:0px;
	}
}